@import "../../app.scss";

.navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    flex-wrap: nowrap;
    height: 50px;
    border-bottom: 1px solid themed("border");
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: themed("bgColor");
    color: themed("textColor");

    .left {
      display: flex;
      align-items: center;
      gap: 30px;

      .link {
        text-decoration: none;
        font-weight: normal;
        color: themed("logo");
      }

      span {
        font-size: 25px;
        font-weight: bold;

      }
      .search {
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid themed("border");
        border-radius: 5px;
        padding: 5px;

        input {
          border: none;
          width: 500px;
          background: transparent;
          color: themed("textColor");

          &:focus {
            outline: none;
          }
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 20px;
      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        img {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
        span {
          font-weight: 500;
        }
      }
    }
  }
}
